extends layout.pug 

block content
    header
        h2.title Student Database Management
        nav
            a(href="/") Home
            a(href="/students") View All Students
    main.add_page
        h2 Add new student to the database record
        form.add_form(action="/add" method="POST")
            label First Name
            br
            input(type="text" name="fname")
            br
            br
            label Last Name
            br
            input(type="text" name="lname")
            br
            br
            label Sex
            br
            select(name="sex")
                option(value="0") Male
                option(value="1") Female
                option(value="2") Undisclosed
            br
            br
            label Major of Science
            br
            select(name="major")
                option(value="cs") Computer Science
                option(value="fin") Finance 
                option(value="law") Commercial Law 
                option(value="bio") Bio Engineering
            br
            br
            label Level
            br
            select(name="level")
                option(value="1") First Year
                option(value="2") Second Year
                option(value="3") Third Year
                option(value="4") Fourth Year
            
            br
            br
            button.add_btn Add

            if error
                p.error [Error]: "First name" and "Last name" fields cannot be empty
            if success
                p.success Student successfully added to the database

