extends layout.pug 

block content
    header
        h2#dis This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
        h2.title Student Database Management
        nav
            a(href="/students") View Students
            a(href="/sds") sds
    main
        h2 This application allows creating and managing students' information
        a(href="/add") Add New Student